.entry-container {
    display: flex;
    /* background-color: blue; */
    justify-content: start;
    /* min-width: 800px; */
    width: 800px;

    border-bottom: solid 1px #F5F5F5;

    margin: auto;
    margin-top: 50px;
    padding-bottom: 20px;
}

.country-image {
    border-radius: 20px;
    width: 250px;
    height: 336px;
}

.informaton-container {
    margin-left: 40px;
}

.location-information {
    display: flex;
    align-items: end;
    margin-top: 40px;
}

.marker {
    margin-right: 5px;
    width: 15px;
    height: 20px;
}

.country-name {
    letter-spacing: 5px;
    font-weight: 400;
    color: #2B283A;
}

.location-link {
    padding-left: 10px;
    color: #918E9B;
    text-underline-offset: 4px;
    font-weight: 400;
}

.location-name {
    margin-top: 15px;
    font-weight: 700;
    font-size: 50px;
}

.date {
    font-weight: 700;

    margin-top: 40px;
}

.text-content {
    margin-top: 20px;
    width: 400px;
}